-e .
aiodocker==0.19.1
aiohttp==3.7.3
async-generator==1.10
attrs==20.3.0
bandit==1.6.2
docutils==0.16
flake8==3.8.4
flake8-bugbear==20.11.1
mypy==0.790
pre-commit==2.9.3
pyroma==2.6
pytest==6.2.1
pytest-aiohttp==0.3.0
pytest-asyncio==0.14.0
pytest-cov==2.10.1
towncrier==19.2.0
twine==3.4.1
